<app-navbar></app-navbar>
<header>

  <fieldset class=" w-full sm:w-9/12  lg:w-3/12 px-2">
    <label class=" w-full md:pb-1 text-sm font-medium text-plomo-21">
        Desde - Hasta
    </label>
    <div  class="flex w-full px-2 border border-gray-400 rounded items-center
    h-10 sm:mb-1  text-plomo-21">
        <mat-date-range-input [rangePicker]="picker" >
            <input [readOnly]="true"
                formControlName="FechaInicial"
                matStartDate placeholder="01/01/2021"
                class="w-full px-2  text-plomo-21 placeholder-gray-500
                       text-sm font-medium focus:outline-none">
            <input [readOnly]="true"
                formControlName="FechaFinal"
                matEndDate placeholder="31/12/2022"
                class="w-full px-2  text-plomo-21 placeholder-gray-500
                       text-sm font-medium focus:outline-none">
        </mat-date-range-input>
        <mat-date-range-picker #picker ></mat-date-range-picker>
        <mat-datepicker-toggle  [for]="picker" ></mat-datepicker-toggle>
    </div>
</fieldset>


</header>
