<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "none" [fullScreen] = "true">
  <!-- <link rel="stylesheet" href="https://pagecdn.io/lib/font-awesome/5.10.0-11/css/all.min.css" integrity="sha256-p9TTWD+813MlLaxMXMbTA7wN/ArzGyW/L7c5+KkjOkM=" crossorigin="anonymous"> -->
  <img src="assets/gif/loading5.gif" alt="">
  <p style="color: white; justify-content: center; align-items: center; text-align: center; display: flex ;"  > Cargando  ... </p>
</ngx-spinner>
