<app-navbar></app-navbar>
<header class="bg-purple-800 text-white h-[100vh] ">

<div class="flex justify-center text-4xl h-full items-center">ROUSITA ERES LA MEJOR DE TODOS LOS TIEMPOS Y EL QUE DIGA LO CONTRARIO UN CABEZASO</div>


</header>
